@media screen and (min-width: 428px) {
  .container {
    max-width: 426px;
  }
  .features-list-item {
    max-width: 396px;
  }
  /* Section-04 */
  .made > .container {
    max-width: 294px;
  }
}

@media screen and (min-width: 768px) {
  /* _Header_ */
  .header {
    /* padding: 16px; */
  }
  .header-container {
    padding: 0 16px;
    align-items: center;
  }
  .header-navigation {
    display: flex;
  }

  .navigation-list,
  .address {
    display: flex;
    gap: 40px;
    /* padding: 24px 0; */
  }
  .address {
    padding: 0;
  }
  .open-menu-btn {
    display: none;
  }
  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-style: normal;
  }

  .section-one {
    max-width: 766px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-tab.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-one {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-tab-2x.jpg);
    }
  }
  .main-title {
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }
  .container {
    max-width: 766px;
  }
  /* .made > .container {
    max-width: 584px;
  } */
  .features-list {
    gap: 72px 24px;
  }
  .features-list-item {
    max-width: 396px;
  }
  .features-list-item {
    max-width: unset;
    /* max-width: 356px; */
    width: calc((100% - 24px) / 2);
  }
  .features-list-item > .title-three {
    text-align: start;
  }
  /* Section-04 */
  /* .made > .container {
    max-width: 584px;
  } */

  .members-list {
    /* flex-wrap: nowrap; */
    gap: 64px 24px;
  }
  .members-list-item {
    /* max-width: unset; */
    /* width: calc((100% - 24px) / 2); */
  }

  /* Section-05 */
  .customers-list {
    gap: 72px 24px;
  }
  .customers-link-item {
    max-width: unset;
    width: calc((100% - 48px) / 3);
  }
  .footer-container {
    justify-content: unset;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    text-align: start;
    max-width: 584px;
    gap: 72px 24px;
  }
  .modal-footer {
    align-items: start;
  }
  .footer-form {
    flex-direction: row;
  }
  .footer-box {
    align-items: start;
  }
  .footer-subtitle {
    text-align: start;
  }
}

@media screen and (min-width: 1158px) {
  /* _Header_ */
  .header-container {
    align-items: center;
  }
  .navigation-list,
  .address {
    display: flex;
  }
  .address-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
  }
  /* Section-01 */
  .section-one {
    padding: 188px 0;
    height: 600px;
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-comp.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-one {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-comp-2x.jpg);
    }
  }
  .main-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
  }
  .container {
    max-width: 1158px;
  }
  .section-two {
    padding: 120px 0;
  }
  .features-list-item {
    max-width: unset;
    width: calc((100% - 72px) / 4);
    flex-wrap: nowrap;
  }
  .features-list {
    gap: 24px;
  }
  .main-fon-icon {
    /* flex-wrap: nowrap; */
    display: flex;
  }
  .title-three {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
  }
  .features-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
  }
  /* Section-03 */
  .section-tree {
    display: block;
  }
  /* Section-04 */
  .section-four {
    padding: 120px 0;
  }
  /* Section-05 */
  .section-five {
    padding: 120px 0;
  }
  .customers-list {
    gap: 24px;
  }
  .customers-link-item {
    max-width: unset;
    width: calc((100% - 120px) / 6);
  }
  .footer-box {
    margin-right: 120px;
  }
  .footer-icons-container {
    margin-right: 80px;
  }
}
